<ul>
  <% if catches.any? %>
      <% catches.each do |catch| %>
          <li>
            <span class="c-name"><%= catch.species.name %></span>
            <span class="c-weight right"><%= "#{number_with_precision(catch.weight, precision: 1)}kg" %></span>
            <span class="c-length right"><%= "#{number_with_precision(catch.length, precision: 1)}cm" %></span>
          </li>
      <% end %>
  <% else %>
      <li class="zero_trip">
        <%= t('views.catch_reports.zero_trip') %>
      </li>
  <% end %>
</ul>