$tab-color: #3C94BB;

#show-mode-tab-container {
  #list-mode-tab-container {
    padding-right: 0;
  }
  #map-mode-tab-container {
    padding-left: 0;
  }
  .inactive-tab {
    background-color: rgba(36, 88, 110, 0.65);
  }
  .button {
    margin-bottom: 0 !important;
  }
}

#catch-reports-table {
  .date-column {
    width: 75px;
  }

  .catch-column {
    ul {
      margin: 0;
      list-style-type: none;
      line-height: inherit;
      font-size: inherit;
    }

    .c-weight {
      margin-left: 15px;
    }
  }

  .lnk-to-show-column {
    cursor: pointer;
    padding: 0;
    text-align: center;

    i {
      width:  16px;
      height: 16px;
    }
  }
}