<%# add navigation links to this file %>
<% if signed_in? %>
    <li class="divider"></li>
    <li>
      <%= link_to t('views.navigation_bar.edit_profile') , edit_user_registration_path %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to t('views.navigation_bar.sign_out'), destroy_user_session_path, method: :delete %>
    </li>
    <li class="divider"></li>
<% else %>
    <li class="divider"></li>
    <li>
      <%= link_to t('views.navigation_bar.sign_up'), new_user_registration_path %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to t('views.navigation_bar.sign_in'), new_user_session_path %>
    </li>
    <li class="divider"></li>
<% end %>