<%# navigation styled for Zurb Foundation 5 %>
<div class="sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name"><%= link_to 'Home', root_path %></li>
      <li class="toggle-topbar menu-icon"><a href="#"></a></li>
    </ul>
    <div class="top-bar-section">
      <ul class="right">
        <% if signed_in? %>
            <%= render 'layouts/navigation_links' %>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
