<%# add navigation links to this file %>
<% if signed_in? %>
    <li class="divider"></li>
    <li>
      <%= link_to 'Edit profile', edit_user_registration_path %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    </li>
    <li class="divider"></li>
<% else %>
    <li class="divider"></li>
    <li>
      <%= link_to 'Opret profil', new_user_registration_path %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to 'Log in', new_user_session_path %>
    </li>
<% end %>